<div class="medium-12 columns">

	<div id="last_chance" class="medium-offset-5 medium-2 columns">
		sure?</br>
		<a href="http://localhost:3000/posts">Nevermind, take me back</a>
	</div></br>
	<%= button_to "Delete Share", @post, form_class: "medium-offset-5 medium-2 columns", method: :delete, id: "delete_button" %>
</div>